body {
    color: rgb(135, 135, 168);
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    width: 100px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.list-group{
    max-width: 300px;
    margin: 10px auto;
}